<h1 class="text-center">Favorite Pokemon (<%= favoriteList.length %>)</h1>
<p class="text-center">
    <a href="/">Original Pokemon</a>
</p>
<div class="container">
    <ul>
        <% favoriteList.forEach(pokemon => { %>
            <div class="well">
                <h2><a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a></h2>
                <form method="POST" action="/pokemon?_method=DELETE">
                    <input hidden type="text" name="id" value="<%= pokemon.id %>">
                    <button class="btn btn-primary" type="submit">Remove from Favorites</button>
                </form>
            </div>

        <% }) %>
    </ul>
</div>
